[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=liuf
Restart=on-failure
RestartSec=5s
ExecStart=/home/liuf/myfrp/frpc -c /home/liuf/myfrp/cy.ini
ExecReload=/home/liuf/myfrp/frpc -c /home/liuf/myfrp/cy.ini
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
